<div id="<%= dom_id collaborator %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= collaborator.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Email:</strong>
    <%= collaborator.email %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Sector:</strong>
    <%= collaborator.sector_id %>
  </div>
</div>
